.background {
  justify-content: center;
  display: flex;
  height: 30px;
  margin-bottom: 5px;
}
.inputTag {
  width: 200px;
}
.blue-background {
  background-color: rgb(79, 141, 223);
  color: azure;
}
